html {
    background-color: rgb(180, 180, 180);
    background-image: url("image/stadiumrpg_2nd_bg.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    font-size: 20px;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: var(--header-height);
    top: 0;
    background-color: #FFFFFFF0;
    align-items: center;
    position: fixed;
    text-decoration: none;
    z-index: calc(infinity);
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #ff3333;
}

.title{
    display: flex;
    align-items: center;
    height: var(--header-height);
}

.title_img {
    width: calc(var(--header-height)*0.9);
    margin-left: calc(var(--header-height)*0.1);
}

.title_text {
    margin-left: 5px;
    color: red;
    font-weight: 1;
    white-space: nowrap;
    font-size: calc( var(--header-height) * 0.8);
}

@media screen and (max-width: 900px) {
    .title_text {
        display: none;
    }
}
    @media screen and (min-width: 900px) {
    /* ここに横幅がそれより大きい時に発動するスタイルを記述 */
}

.menu-group {
    margin-left: calc(10px + 1vw);
    margin-right: 0;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: none;
    align-items: center;
    align-content: center;
    scrollbar-color: #ff888888 #e0e0e000;
    scrollbar-width:none;
}

.menu-item {
    margin-right: calc(10px + 1vw);
    font-size: calc( var(--header-height) * 0.4);
}

.fadeIn {
    animation-name: fadeInAnime;
    animation-fill-mode:backwards;
    animation-duration:2s;
    /* animation-delay: 0s; */
    animation-iteration-count:1;
    animation-timing-function:var(--easeOutExpo);
    animation-direction:normal;
}

.delay-00{
    animation-delay: var(--animation-delay);
}

.delay-01{
    animation-delay: calc( var(--animation-delay) + var(--animation-delay-01) * 1 );
}

.delay-02{
    animation-delay: calc( var(--animation-delay) + var(--animation-delay-01) * 2 );
}

.delay-03{
    animation-delay: calc( var(--animation-delay) + var(--animation-delay-01) * 3 );
}

.delay-04{
    animation-delay: calc( var(--animation-delay) + var(--animation-delay-01) * 4 );
}

.delay-05{
    animation-delay: calc( var(--animation-delay) + var(--animation-delay-01) * 5 );
}

.bg_image {
    width: 100%;
}

.head_text {
    height: calc(100% - var(--header-height));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0 5%;
}

.head-text-title {
    /* margin-top: calc(50% - var(--head-text-font-size));
    margin-bottom: calc(50% - var(--head-text-font-size) - var(--header-height)); */
    color: #fff;
    font-size: 6vh;
    text-align: left;
    font-weight: 550;
}

span {
    display: inline-block;
}

.head-text-subtitle {
    font-size: 4vh;
}

.head-text-bg-red {
    display: inline;
    line-height: 1.4em;
    background: linear-gradient(transparent 0%, #FF3333dd 0%);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;  
}

.head-learn-more {
    display: flex;
}

.head-learn-more-text {
    font-size: 3vh;
    color: #FFFFFF88;
    margin-left: 10px;
    margin-top: auto;
}

.main {
    background-color: #ffffffdd;
    margin-top: var(--header-height);
    min-height: 100%;
}

.main-text {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 3vh;
}

.main-text-title {
    font-size: 8vh;
    color: #ff5555;
}

.main-learn-more {
    display: flex;
}

.main-learn-more-text {
    font-size: 4vh;
    color: #FF000055;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: 0;
}


hr {
    border-top: 2px solid #FF555588;
    margin: 5vh 0;
}

td {
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
}

th {
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

footer {
    display: flex;
    width: 100%;
    height:auto;
    top: 0;
    background-color: #FFFFFF55;
    align-items: center;
    text-decoration: none;
    z-index: calc(infinity)
}

.footer_text {
    font-size: 3vh;
    margin-left: auto;
    margin-right: 5px;
    color: #000000;
    font-weight: bolder;
}

@keyframes fadeInAnime{
    0% {
    opacity: 0;
    transform: translateY(calc(var(--header-height) / -5));
    }

    100% {
    opacity: 1;
    transform: translateY(0px);
    }
}

@font-face {
    font-family: 'rounded-x-mgenplus-1c-black';
    src: url('font/rounded-x-mgenplus-1c-black.ttf') format('truetype');
    }

:root {
    --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
    --animation-delay: 0.2s;
    --animation-delay-01: 0.1s;
    --header-height: calc(5vh + 20px);
    --head-text-font-size: 60px;
    --footer-height: 60px;
}