.secret2-text{
    line-height: 150%;
    font-size: 4vh;
}

h3 {
    font-size: 5vh;
    color: #ff5555;
}

br {
    line-height: 200%;
}

@media (min-width: 1000px) {
    .secret2-img {
        display: flex;
    }

    .secret2-img > img {
        margin-left: auto;
        width: 48%;
        margin: 1%;
    }
}

@media (max-width: 1000px) {
    .secret2-img > img {
        width: 100%;
    }
}

footer > p > a {
    text-decoration: none;
    color: #000000;
}